body, html { 
    color: white;
    text-shadow: 2px 3px 10px black;
    /* background-color: black; */
    background-image: url("../pics/space_concert_hall.jpg");
    background-position: center;
    overflow: hidden; 
    font: 14pt 'Alike', sans-serif; 
    /* animation: colorchange 50s; /* animation-name followed by duration in seconds*/
         /* you could also use milliseconds (ms) or something like 2.5s */
    /* -webkit-animation: colorchange 50s; Chrome and Safari */ 

}

 /* @keyframes colorchange
    {
      0%   {background: black;}
      25%  {background: #4B0082;}
      50%  {background: black;}
      75%  {background: #4B0082;}
      100% {background: black;}
    }

    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    /* {
      0%   {background: black;}
      25%  {background: #4B0082;}
      50%  {background: black;}
      75%  {background: #4B0082;}
      100% {background: black;}
    } */ 
.hidden { display: none; }
        /* body { font: 14pt 'Alike', sans-serif;} */
#note { 
    font-size: 300px; 
    color: white;
}
.droptarget { background-color: #348781}
div.confident { color: black; }
div.vague { color: lightgrey; }
#note { display: inline-block; height:180px; text-align: left; color: white;}

#detector { 
    margin-left: 30%;
    width: 40%; 
    background-color: black;
    border: 4px solid gray; 
    border-radius: 8px; 
    text-align: center; 
    padding-top: 10px; 
    /* margin-top: 5%;  */
    color: white;
    
}
#output { width: 300px; height: 42px; }
#flat { display: none; }
#sharp { display: none; }
.flat #flat { display: inline; }
.sharp #sharp { display: inline; }
.bg { z-index: -1; }
.fg { 
    
    z-index: 1;
    text-align: center;
}
.button {
    position: relative;
    background-color: purple;
    border: none;

    font-size: 24px;
    color: #FFFFFF;
    padding: 20px;
    width: 250px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5px;
    height: 5px;
    background: rgba(255, 255, 255, .5);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%);
    transform-origin: 50% 50%;
    
}

/* @keyframes ripple {
  0% {
    transform: scale(0, 0);
    opacity: 1;
  }
  20% {
    transform: scale(25, 25);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(40, 40);
  }
}

button:focus:not(:active)::after {
  animation: ripple 1s ease-out;
} */
